* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    font-family: 'product-sans', sans-serif;
    overflow-x: hidden;
}
body.dark {
    background-color: #1d1d1d;
    color: white;
    .footer {
        background-color: #111;
    }
    .main {
        & #text-input {
            & input {
                color: white;
            }
        }
    }
    nav {
        background-color: #5f5f5f;
        li a, i , li{
            color: white;
        }
    }
}
body{

    nav li {
        color: white;
    }
    nav li i {
        color: white;
    }
}
header {
    width: 100%;
    .header {
        padding-top: 1rem;
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .left-header, .right-header {
            
            display: flex;
        }
        .left-header {
            width: 30%;
            padding-top: .5rem;
            .open-nav i {
                font-size: 1.5rem;
            }
            .all, .images {
                font-size: .7rem;
                text-transform: uppercase;
                
            }
            .all  h2{ 
                color: blue;
                border-bottom: 2px solid blue;
                margin: 0 .8rem;
            }
        }
        .right-header {
            width: 20%;
            & .profile {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: purple;
                display: flex;
                justify-content: center;
                align-items: center;
               margin-left: .5rem;
            }
        }
    }
    
}
nav {
    transform: translateX(-200%);
    position: absolute;
    top: 0;
    background-color: black;
    height: 100vh;
    ul {
        li {
            & a {
                color: white;
            }
        }
    }
}
nav.show-nav {
    transform: translateX(0);
    & ul {
        display: block;
        padding: 0 2rem 0 1.5rem;
        & li {
            padding-top: 15%;
            list-style: none;
            & a {
                text-decoration: none;
                margin-left: .4rem;
            }
        }
    }
}

main {
    width: 100%;
    .main {
        width: 90%;
        margin: 0 auto;
        .img {
            display: flex;
            justify-content: center;
            & img {
                width: 300px;
                margin: 2.4rem 0 1rem 0;
            }
        }
        p {
            text-align: center;
        }
        .languages {
            display: flex;
            width: 50%;
            margin: 1rem auto;
            justify-content: space-between;
            & p {
                color: blue;
                margin-bottom: 2rem;
            }
        }
        .elip {
            float: right;
        }
        .content {
            width: 50%;
            margin: 3rem auto;
            & p {
                text-align: left;
                border-bottom: 2px solid #9c9c9c;
                padding: 1rem 0;
            }
        }
        h1 {
            margin: 3.4rem 0 2rem 0;
            text-align: center;
            font-size: 3rem;
            font-weight:300;
        }
        & #text-input {
            width: 80%;
            margin: 0 auto;
            position: relative;
            & input {
                width: 100%;
                height: 35px;
                border-radius: 20px;
                border: 2px solid #9c9c9c;
                padding-left: .8rem;
                color: black;
                background-color: transparent;
                position: relative;
                &:focus,
                &:active {
                    outline: 0;
                }
            }
            
            .icons {
                
                & .fa-search {
                    position: absolute;
                    top: 25%;
                    left: 5%;
                }
                & .fa-microphone {
                    position: absolute;
                    top: 25%;
                    right: 5%;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    background-color: #e2e2e2;
    footer {
        .location {
            padding: .5rem 0;
        }
        padding-bottom: 1.3rem;
        width: 95%;
        margin: 0 auto;
        text-align: center;
        
        
        & p {
            padding: 0 1rem;
            display: inline-flex;
            
        }
    }
}


@media only screen and (max-width: 768px) {
    body {
        width: 768px;
        max-width: 100%;
    }
    header {
        .header {
            .left-header {
                visibility: visible;
            }
        }
    }
    main {
        .main {
            .languages {
                width: 91%;
            }
            & #text-input {
               width: 100%; 
            }
            .content {
                width: 80%;
            }
        }
    }
    .location {
        width: 100%;
        border-bottom: 1px solid #9c9c9c;
    }
    .footer {
        footer {
            width: 100%;
            margin: 0 auto;
            display:  block;
            text-align:center;
            & p {
                display: block;
                padding: 0;
            }
            
            .cut-1, .cut-2 {
                display: flex;
                justify-content: space-between;
                margin: 1rem 0;
            }
            .cut-1 {
                text-align: center;
                width: 80%;
                margin: 1rem auto;
            }
            
            .cut-2 {
                width: 70%;
                margin: 0 auto;
            }
        }
    }
    nav.show-nav {
       & ul {
        & li {
            padding-top: 20%;
        }
       }
    }
    
}