* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-family: 'product-sans', sans-serif;
  overflow-x: hidden;
}

body.dark {
  background-color: #1d1d1d;
  color: white;
}

body.dark .footer {
  background-color: #111;
}

body.dark .main #text-input input {
  color: white;
}

body.dark nav {
  background-color: #5f5f5f;
}

body.dark nav li a, body.dark nav i, body.dark nav li {
  color: white;
}

body nav li {
  color: white;
}

body nav li i {
  color: white;
}

header {
  width: 100%;
}

header .header {
  padding-top: 1rem;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header .header .left-header, header .header .right-header {
  display: flex;
}

header .header .left-header {
  width: 30%;
  padding-top: .5rem;
}

header .header .left-header .open-nav i {
  font-size: 1.5rem;
}

header .header .left-header .all, header .header .left-header .images {
  font-size: .7rem;
  text-transform: uppercase;
}

header .header .left-header .all h2 {
  color: blue;
  border-bottom: 2px solid blue;
  margin: 0 .8rem;
}

header .header .right-header {
  width: 20%;
}

header .header .right-header .profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .5rem;
}

nav {
  transform: translateX(-200%);
  position: absolute;
  top: 0;
  background-color: black;
  height: 100vh;
}

nav ul li a {
  color: white;
}

nav.show-nav {
  transform: translateX(0);
}

nav.show-nav ul {
  display: block;
  padding: 0 2rem 0 1.5rem;
}

nav.show-nav ul li {
  padding-top: 15%;
  list-style: none;
}

nav.show-nav ul li a {
  text-decoration: none;
  margin-left: .4rem;
}

main {
  width: 100%;
}

main .main {
  width: 90%;
  margin: 0 auto;
}

main .main .img {
  display: flex;
  justify-content: center;
}

main .main .img img {
  width: 300px;
  margin: 2.4rem 0 1rem 0;
}

main .main p {
  text-align: center;
}

main .main .languages {
  display: flex;
  width: 50%;
  margin: 1rem auto;
  justify-content: space-between;
}

main .main .languages p {
  color: blue;
  margin-bottom: 2rem;
}

main .main .elip {
  float: right;
}

main .main .content {
  width: 50%;
  margin: 3rem auto;
}

main .main .content p {
  text-align: left;
  border-bottom: 2px solid #9c9c9c;
  padding: 1rem 0;
}

main .main h1 {
  margin: 3.4rem 0 2rem 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}

main .main #text-input {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

main .main #text-input input {
  width: 100%;
  height: 35px;
  border-radius: 20px;
  border: 2px solid #9c9c9c;
  padding-left: .8rem;
  color: black;
  background-color: transparent;
  position: relative;
}

main .main #text-input input:focus, main .main #text-input input:active {
  outline: 0;
}

main .main #text-input .icons .fa-search {
  position: absolute;
  top: 25%;
  left: 5%;
}

main .main #text-input .icons .fa-microphone {
  position: absolute;
  top: 25%;
  right: 5%;
}

.footer {
  width: 100%;
  background-color: #e2e2e2;
}

.footer footer {
  padding-bottom: 1.3rem;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.footer footer .location {
  padding: .5rem 0;
}

.footer footer p {
  padding: 0 1rem;
  display: inline-flex;
}

@media only screen and (max-width: 768px) {
  body {
    width: 768px;
    max-width: 100%;
  }
  header .header .left-header {
    visibility: visible;
  }
  main .main .languages {
    width: 91%;
  }
  main .main #text-input {
    width: 100%;
  }
  main .main .content {
    width: 80%;
  }
  .location {
    width: 100%;
    border-bottom: 1px solid #9c9c9c;
  }
  .footer footer {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .footer footer p {
    display: block;
    padding: 0;
  }
  .footer footer .cut-1, .footer footer .cut-2 {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }
  .footer footer .cut-1 {
    text-align: center;
    width: 80%;
    margin: 1rem auto;
  }
  .footer footer .cut-2 {
    width: 70%;
    margin: 0 auto;
  }
  nav.show-nav ul li {
    padding-top: 20%;
  }
}
/*# sourceMappingURL=main.css.map */